.root {
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.box,
.boxEmpty {
  width: 40px;
}

.box {
  text-align: center;
  border: 1px solid #ccc;
  height: 40px;
  position: relative;
}

.index {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #888;
}

.boxEmpty {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  height: 5px;
}

.start {
  border-left: 2px solid #f9788e;
}

.inside {
  border-bottom: 2px solid #f9788e;
  border-top: 2px solid #f9788e;
}

.end {
  border-right: 2px solid #f9788e;
}

.button {
  margin-right: 15px;
}

.smaller {
  background-color: #ffeef0;
}

.partition {
  background-color: #ffd4da;
}

.larger {
  background-color: #ffb6c0;
}
